---
import Layout from '../layouts/Layout.astro';
import '@/styles/globals.css';
import '@/styles/fonts.css';
---

<Layout title="Bishoy Maher — User Experience Engineer">
	<main
		class="max-sm:text-lg max-w-xl mx-auto md:border-x-px flex flex-col gap-16 pb-12"
	>
		<section class="text-gray-950 flex flex-col gap-8 pt-8 px-4">
			<div class="md:w-[60%] md:ml-auto">
				<p class="font-bold">Bishoy Maher</p>
				<p>User Experience Engineer</p>
			</div>

			<h1
				class="text-5xl md:text-[3.5rem] leading-none pr-8 md:pr-20 tracking-tighter"
			>
				Crafting a future <span class="font-serif italic text-sky-600"
					>worth waking up for</span
				>, one product at a time
			</h1>

			<p class="md:ml-auto md:w-[60%] tracking-tight">
				I&apos;m passionate about building human-centric, sometimes AI-powered,
				solutions in complex domains.
				<br />
				<br />
				I focus on engineering products with compelling user experiences; starting
				from user research & wire-framing, to production-ready web applications.
				<br />
				<br />
				I am on a mission to drive positive change through technology that supports
				the UN's Sustainable Development Goals. I have a particular interest in companies
				that fight climate change, support health and wellness, or improve access
				to education.
			</p>

			<div class="md:ml-auto md:w-[60%] flex align-middle gap-3">
				<button
					class="rounded-full inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 pl-2 py-2"
				>
					<img class="rounded-full mr-2" width={28} height={28} />Book a call</button
				>
				<a
					class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-sky-600 hover:underline underline-offset-4"
					>More about me</a
				>
			</div>
		</section>

		<section>
			<div class="md:flex">
				<span class="md:flex-1">
					<div
						class="bg-blue-400 w-28 h-7 border-l-px border-l-blue-900 -ml-px"
					>
						<!-- <img src="/images/tfc-logo.svg" /> -->
					</div>
				</span>
				<h2 class="md:w-[60%] text-2xl text-gray-500 max-md:px-7 pr-4">
					Transport for Cairo is a boutique consultancy keeping the next 100
					mega-cities moving. <span class="text-primary">
						I led RouteLab&apos;s product design & development.</span
					>
				</h2>
			</div>

			<div class="md:ml-auto md:w-[60%] max-md:px-7 pr-4 pt-6">
				<p>
					I spent 3 years honing my skills in full-stack web development and
					UI/UX design by developing, iterating, and delivering 4 geospatial
					applications that transformed the way data is collected for
					infrastructure projects in data-poor environments.
					<br />
					<br />
					RouteLab not only improved data accuracy, speed, and quality but it also
					reduced traditional costs by 75%. This made it the go-to tool for large-scale
					data collection efforts by the World Bank, AFD, and WRI.
				</p>
			</div>

			<!-- the swipeable carousel of images -->
		</section>

		<section>
			<h2
				class="text-[3.5rem] leading-none pr-20 pl-7 md:pl-4 tracking-tighter"
			>
				Let's build a better future, <span
					class="font-serif italic text-sky-600">together</span
				>
			</h2>
			<p class="md:ml-auto md:w-[60%] max-md:px-7 md:pr-4 pt-4">
				I am currently available for hire as a part-time or full-time
				independent contractor. I have a particular interest in companies that
				fight climate change, support health and wellness, or improve access to
				education. If that sounds like you, let&apos;s talk!
			</p>
			<div
				class="max-md:px-7 pt-6 md:ml-auto md:w-[60%] flex align-middle gap-3"
			>
				<button
					class="rounded-full inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 pl-2 py-2"
				>
					<img class="rounded-full mr-2" width={28} height={28} />Book a call</button
				>
				<a
					class="inline-flex items-center justify-center whitespace-nowrap text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-sky-600 hover:underline underline-offset-4"
					>More about me</a
				>
			</div>
		</section>
	</main>
	<footer class="bg-primary text-secondary h-48 pt-8 max-md:px-7">
		<div class="max-w-xl mx-auto md:flex md:justify-between w-full">
			<p>Find me on the internet</p>
			<!-- <span> a bunch of logos</span> -->
			<aside>Working remote from Cairo, Egypt</aside>
		</div>
	</footer>
</Layout>
