<footer
	class="md:mx-1/12 min-h-56 bg-primary px-4 pt-8 text-secondary md:px-20"
>
	<div class="w-full px-8 md:flex md:justify-between md:px-0">
		<div class="pb-24 md:pb-0">
			<span class="flex gap-4">
				<a
					class="underline-offset-4 hover:underline"
					href="mailto:hello@bishoym.com">Email</a
				>
				<a
					class="underline-offset-4 hover:underline"
					href="https://www.linkedin.com/in/bishoymaher/">Linkedin</a
				>
				<a
					class="underline-offset-4 hover:underline"
					href="https://dribbble.com/bishoym">Dribbble</a
				>
				<a
					class="underline-offset-4 hover:underline"
					href="https://medium.com/@_hush">Medium</a
				>
			</span>
			<p class="mt-1 text-xs font-bold uppercase text-secondary opacity-40">
				Find me on the internet ↗️
			</p>
		</div>
		<aside class="pb-10">Working remote from Cairo, Egypt</aside>
	</div>
</footer>
