---
import { cn } from '@/utils/cn';

interface Props {
	id: string;
	title: string;
	role: string;
	className?: string;
	companyName: string;
	companyColor?: string;
}

const {
	companyName,
	title,
	role,
	id,
	className = '',
	companyColor
} = Astro.props;
---

<section id={id} class={cn('', className)}>
	<div
		class="mx-auto flex max-w-screen-md flex-col gap-8 px-8 pb-12 text-lg md:px-[7rem]"
	>
		<slot name="logo" />
		<h2 class="font-serif text-4xl text-gray-500">
			<i class="underline decoration-dotted" style={{ color: companyColor }}
				>{companyName}</i
			>
			{title}
			<span class="text-primary">{role}</span>
		</h2>

		<span class="">
			<slot name="description" />
		</span>
	</div>

	<div class="relative w-full">
		<div
			class="-my-24 flex w-full overflow-x-scroll overscroll-x-auto scroll-smooth py-24 [scrollbar-width:none]"
		>
			<div
				class="flex h-[28rem] flex-row justify-start gap-6 pl-6 last:pr-4 md:h-[34rem]"
			>
				<slot name="client-work" />
			</div>
		</div>
	</div>
</section>
