---
import { Image } from 'astro:assets';
import { cn } from '@/utils/cn';

interface Props {
	src: ImageMetadata;
	sx: string;
	alt: string;
}

const { src, sx, alt } = Astro.props;
---

<div
	class={cn(
		'aspect-[9/19.2] max-w-full overflow-hidden rounded-2xl bg-gray-100 shadow-2xl',
		sx
	)}
>
	<Image alt={alt} loading="lazy" decoding="async" data-nimg="fill" src={src} />
</div>
