---
import Banner from '@/components/Banner.astro';
import Footer from '@/components/Footer.astro';
import '@/styles/fonts.css';
import '@/styles/globals.css';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const {
	title,
	description = 'A collection of the professional and personal works of Bishoy Maher',
	image = '/image/bishoy.jpg'
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth bg-primary">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image} />
		<link rel="preconnect" href="https://rsms.me/" />
		<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
		<title>{title}</title>
	</head>
	<body class="flex min-h-screen flex-col bg-primary">
		<Banner class="px-2"
			><span
				class="relative mr-2 inline-block size-2 rounded-full bg-green-400 before:absolute before:-left-1/4 before:-top-1/4 before:size-3 before:animate-ping before:rounded-full before:bg-green-400 before:opacity-80"
			></span><p class="text-xs text-primary-foreground md:mr-4">
				Currently taking on select projects
			</p>
			<a href="mailto:hello@bishoym.com">
				<button
					class="hidden rounded-3xl bg-sky-700 px-3 py-1 text-xs text-primary-foreground hover:bg-sky-700/90 hover:shadow-lg focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 md:inline-block"
					>Get in touch →</button
				>
			</a>
		</Banner>

		<slot />

		<Footer />
	</body>
</html>
